################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/TabTester/.vs/TabTester/v15
/TabTester/TabTester/obj/x86/Debug
/TabTester/TabTester/bin/x86/Debug
/TabTester/TabTester/obj
/RibbonUsingTabView/.vs/RibbonUsingTabView/v15
/RibbonUsingTabView/RibbonUsingTabView/bin/x86/Debug
/RibbonUsingTabView/RibbonUsingTabView/obj
